.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.circle {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1.2rem;
  background: var(--ifm-color-primary-darker);
  border-radius: 50%;
  display: inline-block;
}